.yatt-selectable-js {
  display: none;
  }
.selectables .ui-selectee {
  float:left;
  }
.selectables .ui-selectee span {
  display: none;
  }
.selectables .ui-selecting {
  background: #FECA40;
  }
.selectables .ui-selected {
  background: #F39814;
  color: white;
  }
.selectables dl {
  float:left;
  margin:0;
  }
.selectables dt {
  }
.selectables dd {
  margin:0 !important;
  padding:0 !important;
  border:1px solid lightblue;
  margin-right:1px;
  }
.selectables dd ol {
  margin:0;px
  }
.selectables dd li {
  background-color: lightblue;
  height:18px;
  width:25%;
  margin:0;
  padding:0px !important;
  border: 1px solid white;
  margin: 0px -1px;
  cursor:pointer;
  display:block;
  }
.selectables dd ul {
  margin:0;
  }
.selectables dd .item-list {
  margin:0 !important;
  padding:0 !important;
  }