
.yatt-block-summary {
 	color: #666;
}

 h2.yatt-block-summary {
 	font-weight: bold;
 }
 
 .yatt-block-summary-sub {
 	clear: both;
 	padding-left: 10px;
	padding-bottom: 20px;
 }
 
div.yatt-sum-row {
	clear: both;
}

div.yatt-sum-l {
	float: left;
}

div.yatt-sum-r {
	float: right;
	padding-right: 15px;
}

span.yatt-sum {
	font-weight: bold;
}
span.yatt-estimation-sub {
  font-weight: bold;
}

p.yatt-block-summary-details-head {
	font-weight: bold;
	cursor: pointer;
}

div.yatt-block-summary-details-body {
	overflow: hidden;
}

div.yatt-block-summary-details-body {
	padding-left: 10px;
}

span.yatt-time-billable {
    color: #F70;
}

div.yatt-reminder {
	padding: 15px 15px 0px 0px;
	float: right;
}
