.yatt-selector-wrapper {
  width:100%;
  }
.yatt-selector-wrapper div.form-item {
  float:right;
  }
#edit-yatt-selector-selectables-wrapper label,
#edit-yatt-selector-textfield-wrapper label {
  display:block;
  text-align:center;
  border:1px solid #DDDDDD;
  padding:5px 20px;
  }
#edit-yatt-selector-selectables-wrapper .active,
#edit-yatt-selector-textfield-wrapper .active {
  border:1px solid lightblue;
  background-color:white;
  }